.box{
	min-height: 150px;
	background-color: red;
	margin-bottom: 10px;
}
.box1{
	min-height: 150px;
	background-color: blue;
	margin-bottom: 10px;
}
.box2{
	min-height: 150px;
	background-color: green;
	margin-bottom: 10px;
}
.box3{
	min-height: 150px;
	background-color: yellow;
	margin-bottom: 10px;
}
.box4{
	min-height: 150px;
	background-color: gray;
	margin-bottom: 10px;
}
.box5{
	min-height: 150px;
	background-color: teal;
	margin-bottom: 10px;
}
.box6{
	min-height: 150px;
	background-color: pink;
	margin-bottom: 10px;
}
.box7{
	min-height: 150px;
	background-color: indianred;
	margin-bottom: 10px;
}
.box8{
	min-height: 150px;
	background-color: skyblue;
	margin-bottom: 10px;
}
.box9{
	min-height: 150px;
	background-color: orange;
	margin-bottom: 10px;
}
.box10{
	min-height: 150px;
	background-color: chocolate;
	margin-bottom: 10px;
}
.box11{
	min-height: 150px;
	background-color: #7CB9E8;
	margin-bottom: 10px;
}
.box12{
	min-height: 150px;
	background-color: #B0BF1A;
	margin-bottom: 10px;
}